/* ------------
    ASIDE
------------ */
aside{
    width: 300px;
    background-color: #000;
}

.logo-big{
    padding: 20px 30px 0 20px;
}

.logo-big img{
    max-width: 70%;
}

.nav-playlist h4{
    color: #fff;
    padding-bottom: 10px;
}

.id-profile img{
    background-color: #6c6c6c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.download-app{
    margin-top: 5rem;
}