/* ------------
    COMMON
------------ */
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    color: #fff;
}

img{
    max-width: 100%;
}

.container-main{
    display: flex;
    height: calc(100% - 80px);
    background-color: #141922;
}

.list-style{
    list-style: none;
}

.link-style{
    color: #6c6c6c;
    text-decoration: none;
}

.link-style:hover{
    color: #fff;
}

.circle-border{
    border-radius: 50%;
}
/* ------------
    BUTTON
------------ */
button{
    background-color: transparent;
    color: #e0e0e1;
    border: none;
}

/* -- Header -- */
.btn-header{
    padding: 15px 40px;
    border: 1px solid #e0e0e1;
    border-radius: 30px;
}

/* ------------
    FLEX
------------ */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.direction-colum{
    flex-direction: column;
}

.content-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.items-end{
    align-items: flex-end;
}
/* ------------
    PADDING
------------ */
.p-20{
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.p-top-20{
    padding-top: 20px;
}
.p-bottom-20{
    padding-bottom: 20px;
}

.p-left-20{
    padding-left: 20px;
}

.p-right-20{
    padding-right: 20px;
}

.p-bottom-5{
    padding-bottom: 5px;
}

.p-left-5{
    padding-left: 5px;
}
.p-right-5{
    padding-right: 5px;
}
/* ------------
    TYPO
------------ */

.icon-size{
    font-size: 24px;
}