/* ------------
    HEADER
------------ */
header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    max-width: 100%;
    background-color: rgba(8, 11, 18, 0.5);
    padding: 20px 10px 20px 0;
    text-align: end;
}

header .btn-header:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

@media screen and (max-width: 600px){
    header{
        width: 100%;
    }
}