/* ------------
    MAIN
------------ */
main{
    width: calc(100% - 300px);
    overflow-y: auto;
}

.album{
    position: relative;
    max-width: calc(100% / 6);
    text-align: center;
}

.nav-main li{
    position: relative;
}

.nav-main li:first-child::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background-color: yellowgreen;
}

.play-hover{
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    max-width: 174px;
    max-height: 174px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
}

.play-hover:hover{
    display: block;
}

small{
    color: #6c6c6c;
}

@media screen and (max-width: 1100px){

    .album{
        max-width: calc(100% / 4);
    }
}
@media screen and (max-width: 700px){

    .album{
        max-width: 50%;
    }
}
@media screen and (max-width: 600px){

    main{
        width: 100%;
    }
}